body{
    background-color: cadetblue;
}

table{
    border:1px solid black;
    border-collapse: collapse;
    width: 90%;
    margin-left:5%
}
th{
    border:1px solid red;
    font-size:25px;
    background-color:black;
    color: white;
    padding:5px;
}
tr td{
    border:1px solid red;
    text-align: center;
    padding: 2px;
    font-size: 25px;
}
tr:nth-child(odd){
    background-color: aquamarine;
}
tr:nth-child(even){
    background-color: azure;
}

h1{
    background-color: crimson;
    margin-left: 20%;
    color:white;
    border-radius: 5px;
    text-align: center;
    width:60%;
}