
body{
    margin:0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    height:100vh;
    overflow: hidden;
}

ul{
    margin:0;padding:0;list-style: none;
    text-align:center;
}
li{
    display: inline-block;
    margin-right: 0px;
    position: relative;
}

a{
    background: rgb(67, 226, 43);
    color:rgb(8, 8, 8);
    padding: 10px 25px;
    display: block;
    text-decoration: none;
    border-radius: 5px;
}
a:hover{
    background: rgb(249, 251, 251);
}

ul ul{
    position:absolute; left: -99999px; top:37px; width: 200px;
    text-align: left;
}
ul ul a{
    border-radius: 0;
    background:#08b625;
    border-bottom: 1px solid rgb(254, 251, 251);
}
ul li:hover ul{
    left:0;
}
li li{
    display: block;
}

