*{
    box-sizing:border-box;
    flex:content;
}
div{
    background-color: rgb(215, 241, 239);
   
    margin-left: 15%;
    margin-right: 15%;
}
form{
    padding: 5%;
   

}
#regform{
    border-radius: 10%;
}
label{
    margin-bottom: 5%;
    font-size: 30px;
}
input{
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 5%;
    border: 1px solid rgb(155, 140, 159);
    font-size: 130%;
    
}
input[type="radio"]{
    width: auto;
}
input[type="submit"]{
    background: rgb(91, 126, 207);
    border: 1px solid aqua;
    width: 60%;
    font-size: 25px;
    margin-left:20%;
    margin-right: 20%;
    margin-top:10%;
}
input[type="submit"]:hover{
    background: rgb(47, 0, 255);
    border: 1px solid rgb(70, 15, 166);
    transition: 0.7s;
}
